<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <th:block th:include="include :: header('出入库')"/>
</head>
<body>
<!-- Side Navbar -->
<nav class="side-navbar">
    <th:block th:include="include :: sideNavBar('6')"/>
</nav>
<div class="page">
    <header class="header">
        <th:block th:include="include :: topNavBar"/>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                <li class="breadcrumb-item"><a th:href="@{/sheet/dlvr}">出库单管理</a></li>
                <li class="breadcrumb-item"><a th:href="@{/sheet/dlvr/add}">添加出库单</a></li>
                <li class="breadcrumb-item active">添加出库货品</li>
            </ul>
        </div>
    </div>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>添加出库货品</h4>
                        </div>
                        <div class="card-body">

                            <form class="form-horizontal">
                                <input name="repoId" th:value="${repo.id}" type="hidden">
                                <input name="deliveryId" th:value="${id}" type="hidden">
                                <div class="table-responsive">
                                    <table class="table" th:if="${not #lists.isEmpty(goodsInRepo)}">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>货品名称</th>
                                            <th>单价</th>
                                            <th>出货量</th>
                                            <th>备注</th>
                                            <th>是否添加</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="good,stat:${goodsInRepo}">
                                            <th scope="row">[[${stat.count}]]</th>
                                            <input name="gid" th:value="${good.id}" type="hidden">
                                            <td th:text="${good.name}"></td>
                                            <td><input name="price" th:value="${good.price}" type="number"></td>
                                            <td><input name="count" type="number"></td>
                                            <td><input name="note" type="text"></td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input name="add" th:value="${good.id}" type="checkbox">
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-dark text-center" th:if="${#lists.isEmpty(goodsInRepo)}">该库区空空如也</div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-2">
                                        <a class="btn btn-secondary" th:href="@{/sheet/dlvr}">取消</a>
                                        <button class="btn btn-primary" id="submit-add-dlvr-good"
                                                th:if="${not #lists.isEmpty(goodsInRepo)}" type="button">添加发货品
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <th:block th:include="include ::footer"/>
    </footer>
</div>
<th:block th:include="include::scripts"/>
<script>
    DlvrGoods.init();
</script>
</body>
</html>
