<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <th:block th:include="include :: header('出入库')"/>
</head>
<body>
<!-- Side Navbar -->
<nav class="side-navbar">
    <th:block th:include="include :: sideNavBar('7')"/>
</nav>
<div class="page">
    <header class="header">
        <th:block th:include="include :: topNavBar"/>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                <li class="breadcrumb-item"><a th:href="@{/sheet/entr}">入库单管理</a></li>
                <li class="breadcrumb-item"><a th:href="@{/sheet/entr/add}">添加入库单</a></li>
                <li class="breadcrumb-item active">添加入库货品</li>
            </ul>
        </div>
    </div>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>添加入库货品(新货品请先<a style="link: #9933ff" th:href="@{/good}">点我</a>添加)</h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <input name="entryId" th:value="${id}" type="hidden">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>货品名称</th>
                                            <th>单价</th>
                                            <th>数量</th>
                                            <th>合格品</th>
                                            <th>备注</th>
                                            <th>是否添加</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="good,stat:${goods}">
                                            <th scope="row">[[${stat.count}]]</th>
                                            <input th:value="${good.id}" type="hidden" name="gid">
                                            <td th:text="${good.name}"></td>
                                            <td><input th:value="${good.price}" type="number" name="price"></td>
                                            <td><input type="number" name="count"></td>
                                            <td><input name="qualified" type="number"></td>
                                            <td><input type="text" name="note"></td>
                                            <td>
                                                <label class="checkbox-inline">
                                                    <input name="add" th:value="${good.id}" type="checkbox">
                                                </label>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-2">
                                        <a class="btn btn-secondary" th:href="@{/sheet/entr}">取消</a>
                                        <button class="btn btn-primary" id="submit-add-entr-good" type="button">添加入库货品
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <th:block th:include="include ::footer"/>
    </footer>
</div>
<th:block th:include="include::scripts"/>
<script>
    EntrGoods.init();
</script>
</body>
</html>
