<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <th:block th:include="include :: header('库区管理')"/>
</head>
<body>
<!-- Side Navbar -->
<nav class="side-navbar">
    <th:block th:include="include :: sideNavBar('2')"/>
</nav>
<div class="page">
    <header class="header">
        <th:block th:include="include :: topNavBar"/>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                <li class="breadcrumb-item active">库区管理</li>
            </ul>
        </div>
    </div>
    <section class="forms">
        <div class="container-fluid">
            <header>
                <a class="btn btn-primary text-white" th:onclick="switchFrame([[0]]);return true;">添加仓库 </a>
                <a class="btn btn-primary text-white" th:onclick="switchFrame([[1]]);return true;">修改仓库 </a>
                <a class="btn btn-primary text-white" th:onclick="switchFrame([[2]]);return true;">所有仓库 </a>
            </header>
            <input id="data-repos" th:value="${repos}" type="hidden"/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" id="headline">
                            <h4>所有库区</h4>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12" id="chart">
                                <div class="card bar-chart-example">
                                    <div class="card-body">
                                        <canvas id="barChart"></canvas>
                                    </div>
                                </div>
                            </div>

                            <form class="form-horizontal" id="update-repo-form" style="display: none">
                                <input id="update-id" name="id" type="hidden">
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">地址</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="update-position" name="position" type="text">
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">总容量</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="update-capacity" name="capacity" type="text">
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <label class="col-sm-2 form-control-label">已用容量</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="update-used" name="used" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-2">
                                        <button class="btn btn-secondary" th:onclick="switchFrame([[2]])">取消</button>
                                        <button class="btn btn-primary" id="btn-update-repo">保存更改</button>
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal" id="add-repo-form" style="display: none;">
                                <div class="row">
                                    <label class="col-sm-2 form-control-label">基本信息</label>
                                    <div class="col-sm-10">
                                        <div class="form-group-material">
                                            <input id="add-position" name="position" required type="text"
                                                   class="input-material">
                                            <label class="label-material" for="add-position">地址</label>
                                        </div>
                                        <div class="form-group-material">
                                            <input id="add-capacity" name="capacity" required type="tel"
                                                   class="input-material">
                                            <label class="label-material" for="add-capacity">总容量</label>
                                        </div>
                                        <div class="form-group-material">
                                            <input id="add-used" name="used" type="text"
                                                   required class="input-material">
                                            <label class="label-material" for="add-used">已用容量</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="form-group row">
                                    <div class="col-sm-4 offset-sm-2">
                                        <button class="btn btn-secondary" th:onclick="switchFrame([[2]])">取消</button>
                                        <button class="btn btn-primary" id="btn-submit-repo">添加</button>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive" id="repos-table" style="display: block">
                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>仓库</th>
                                        <th>已使用容量</th>
                                        <th>空闲容量</th>
                                        <th>总容量</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="repo,iterStat:${repos}" th:id="'repo'+${iterStat.count}">
                                        <th scope="row" th:text="${iterStat.count}"></th>
                                        <td th:text="${repo.getPosition()}+'库'"></td>
                                        <td th:text="${repo.getUsed()}"></td>
                                        <td th:text="${repo.getCapacity()} - ${repo.getUsed()}"></td>
                                        <td th:text="${repo.getCapacity()}"></td>
                                        <td>
                                            <a class="btn btn-secondary text-white text-center" th:text="修改"
                                               th:id="'btn-update-repo'+${iterStat.count}"
                                               th:onclick="fillForm([[${repo}]])">
                                            </a>
                                            <a class="btn btn-danger text-white text-center" th:text="删除"
                                               th:onclick="deleteRepo([[${repo.id}]])">
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <th:block th:include="include ::footer"/>
    </footer>
</div>
<th:block th:include="include::scripts"/>
<script>
    Repo.init();

    function switchFrame(index) {
        Repo.switchFrame(index);
    }

    function deleteRepo(id) {
        Repo.deleteRepo(id)
    }

    function fillForm(repo) {
        Repo.showUpdateRepoForm();
        Repo.fillInForm(repo);
    }
</script>
</body>
</html>
