<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head lang="en">
    <th:block th:include="include :: header('库区管理')"/>
</head>
<body>
<!-- Side Navbar -->
<nav class="side-navbar">
    <th:block th:include="include :: sideNavBar('3')"/>
</nav>
<div class="page">
    <header class="header">
        <th:block th:include="include :: topNavBar"/>
    </header>
    <!-- Breadcrumb-->
    <div class="breadcrumb-holder">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/index}">首页</a></li>
                <li class="breadcrumb-item active">库存管理</li>
            </ul>
        </div>
    </div>
    <section class="forms">
        <div class="container-fluid">
            <header>
                <a class="btn btn-primary text-white" th:href="@{/storage/repo}">按库区查看 </a>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div id="headline" class="card-header d-flex align-items-center">
                            <h4>按货品查看--<span th:text="${name}"></span></h4>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div class="form-group row">

                                    <div class="col-lg-4 col-md-6">
                                        <div class="card project-progress">
                                            <h2 class="display h4">库区分布比</h2>
                                            <div class="pie-chart">
                                                <canvas id="pieChart" width="300" height="300"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-6" th:if="${storageByGood}">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>存放仓库</th>
                                                    <th>合格品</th>
                                                    <th>次品</th>
                                                    <th>总量</th>
                                                    <th>操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="storage,iterStat:${storageByGood}"
                                                    th:id="'storage'+${iterStat.count}">
                                                    <th scope="row" th:text="${iterStat.count}"></th>
                                                    <td th:text="${storage.repo.position}"></td>
                                                    <td><input name="qualified"
                                                               th:value="${storage.qualified}">
                                                    </td>
                                                    <td th:text="${storage.count} - ${storage.qualified}"></td>
                                                    <td><input name="count"
                                                               th:value="${storage.count}">
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-secondary text-white text-center"
                                                                th:onclick="updateStorage([[${gid}]],[[${storage.repo.id}]],[[iterStat.count]],[[${iterStat.size}]])"
                                                                th:text="|修改|"
                                                                type="button">
                                                        </button>
                                                        <button class="btn btn-danger text-white text-center"
                                                                th:onclick="deleteGoodInRepo([[${gid}]],[[${storage.repo.id}]])"
                                                                th:text="|删除|"
                                                                type="button">
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <th:block th:include="include ::footer"/>
    </footer>
</div>
<th:block th:include="include::scripts"/>
<script>
    function deleteGoodInRepo(gid, repoId) {
        GoodStorage.deleteGoodInRepo(gid, repoId)
    }

    function updateStorage(gid, repoId, idx, count) {
        GoodStorage.updateStorage(gid, repoId, idx, count);
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var storages = [[${storageByGood}]];
    var positions = [];
    var counts = [];
    for (let i = 0; i < storages.length; i++) {
        positions[i] = storages[i].repo.position;
        counts[i] = storages[i].count;
    }
    var pieChartExample = new Chart($('#pieChart'), {
        type: 'doughnut',
        data: {
            labels: positions,
            datasets: [
                {
                    data: counts,
                    borderWidth: [1, 1, 1],
                    backgroundColor: [
                        'rgba(51, 179, 90, 1)',
                        "rgba(75,192,192,1)",
                        "#FFCE56"
                    ],
                    hoverBackgroundColor: [
                        'rgba(51, 179, 90, 1)',
                        "rgba(75,192,192,1)",
                        "#FFCE56"
                    ]
                }]
        },
        responsive: true
    });
    /*]]>*/

</script>
</body>
</html>
